@import "~@/scss/variables";

.header {
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: get-size(spacing-15) 0;
  background-color: get-part-color(white);
  border-bottom: 1px solid get-part-color(border);

  &__newpost {
    margin-inline-start: auto;
  }
}
