@import "~@/scss/variables";
@import "~@/scss/mixins";

.button {
  border: none;
  font-size: 11px;
  font-weight: 500;
  padding: 15px 20px;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;
  -webkit-appearance: button;
  border-radius: get-size(border-radius);

  $unique-id: unique-id();
  @include create-palette-variations("&--", $palette, $unique-id);

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &--filled {
    color: get-part-color(white);
    background-color: var(--#{$unique-id});

    &:hover,
    &:focus {
      color: var(--#{$unique-id});
      background-color: get-part-color(white);
      box-shadow: inset 0 0 0 2px var(--#{$unique-id});
    }
  }

  &--outlined {
    color: var(--#{$unique-id});
    background-color: get-part-color(white);
    box-shadow: inset 0 0 0 2px var(--#{$unique-id});

    &:hover,
    &:focus {
      color: get-part-color(white);
      background-color: var(--#{$unique-id});
    }
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
