@import "~@/scss/variables";

.post {
  width: 100%;
  max-width: 800px;
  align-self: center;
  padding: 0 get-size(spacing-15);
  margin-top: get-size(spacing-50);

  &__title {
    font-size: 25px;
    line-height: 1.3;
    font-weight: 800;
    text-transform: uppercase;
    color: get-part-color(black);
    margin: get-size(spacing-15) 0 0;
  }

  &__info {
    display: flex;
    font-size: 13px;
    align-items: center;
    color: get-part-color(black);
  }

  &__author {
    font-style: normal;

    &-link {
      margin: 0 2px;
      font-weight: 700;
      text-decoration: none;
      color: get-palette(primary);
    }

    &-time {
      font-size: 12px;
      margin-inline-start: 5px;
    }
  }

  &__media{
    width: 100%;
    content: "";
    display: block;
    max-height: 500px;
    position: relative;
    background-color: #f1f1f1;
    padding-top: (10 / 9) * 100%;
    margin-top: get-size(spacing-50);

    &-image {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      object-fit: contain;
    }
  }
}
