@import "~@/scss/variables";

.home {
  width: 100%;
  max-width: 700px;
  align-self: center;
  padding: 0 get-size(spacing-15);
  margin-top: get-size(spacing-15);

  &__loader {
    align-self: center;
    margin-top: get-size(spacing-30);
    margin-bottom: get-size(spacing-50);
  }

  &__end {
    font-size: 13px;
    text-align: center;
    color: get-palette(gray);
    padding: get-size(spacing-20);
    margin: get-size(spacing-50) 0;
    border-radius: get-size(border-radius-2);
    background-color: rgba(get-palette(gray), 10%);
  }
}
