@import "~@/scss/variables";

.card {
  position: relative;
  padding: get-size(spacing-20);
  box-shadow: $box-shadow-normal;
  background-color: get-part-color(white);
  border: 1px solid get-part-color(border);
  border-radius: get-size(border-radius-3);
}
