@import "~@/scss/variables";

.card {
  overflow: hidden;
  position: relative;
  padding: get-size(spacing-20);
  background-color: get-part-color(white);
  border-radius: get-size(border-radius-3);

  &:not(&--flat) {
    box-shadow: $box-shadow-normal;
    border: 1px solid get-part-color(border);
  }

  &__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: get-part-color(black);
    margin-bottom: get-size(spacing-15);
  }

  &__content {
    line-height: 2;
    display: block;
    font-size: 11px;
    color: get-part-color(black);
    margin: get-size(spacing-10) 0;
  }

  &__actions {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: get-size(spacing-5);
    margin-top: get-size(spacing-20);
  }
}
