@import "~@/scss/variables";

.comments {
  padding: get-size(spacing-20) 0;
  margin-top: get-size(spacing-50);

  &__header {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    text-transform: uppercase;
  }

  &__count {
    margin-inline-end: get-size(spacing-5);
  }

  &__empty {
    font-size: 13px;
    text-align: center;
    color: get-part-color(black);
    padding: get-size(spacing-20);
    margin-top: get-size(spacing-50);
    margin-bottom: get-size(spacing-20);
    border-radius: get-size(border-radius-2);
    border: 1px dashed get-part-color(border);
  }
}
