@import "~@/scss/variables";

.activate {
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding: 0 get-size(spacing-15);

  &__recaptcha {
    font-size: 11px;
    max-width: 300px;
    line-height: 1.65;
    text-align: center;
    color: get-part-color(gray);
    margin: get-size(spacing-15) auto 0 auto;
  }
}
