@import "~@/scss/variables";

.home {
  margin-top: get-size(spacing-15);

  &__loader {
    align-self: center;
    margin-top: get-size(spacing-30);
    margin-bottom: get-size(spacing-50);
  }

  &__end {
    width: 30px;
    height: 30px;
    display: block;
    fill: get-part-color(border);
    margin: 100px auto 20px auto;
  }
}
