@import "~@/scss/variables";

.login {
  width: 100%;
  margin: auto;
  max-width: 500px;
  padding: 0 get-size(spacing-15);

  &__title {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: get-part-color(black);
    margin-bottom: get-size(spacing-5);
  }

  &__buttons {
    display: flex;
  }

  &__account {
    text-align: center;
    margin-top: get-size(spacing-15);
  }

  &__disclaimer {
    font-size: 11px;
    max-width: 300px;
    line-height: 1.65;
    text-align: center;
    color: get-part-color(gray);
    margin: get-size(spacing-15) auto 0 auto;
  }
}
