@import "variables/colors";
@import "reset";

html {
  font-size: 100%;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: get-color(black);
  font-family: 'Rubik', sans-serif;
}
