@import "~@/scss/_variables";

.spinner {
  width: 30px;
  height: 30px;
  display: block;
  border-width: 3px;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(get-palette(primary), 5%);
  border-top-color: get-palette(primary);
  animation: spinner-rotate infinite 1000ms ease;

  &--small {
    width: 18px;
    height: 18px;
    border-width: 2px;
  }
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0);
  }
  from {
    transform: rotate(-360deg);
  }
}
