$palette: (
        primary: #443ba5,
        secondary: #1F2232,
        accent-1: #F76F8E,
        gray: #9e9e9e,
        error: #C20114
);

$part-colors: (
        gray: #9e9e9e,
        white: #fdfdfd,
        black: #0C120C,
        border: #e8e8e8,
);

@function get-palette($name) {
  @if map_has-key($palette, $name) {
    @return map-get($palette, $name);
  }

  @error "Color '#{$name}' is undefined"
}


@function get-part-color($name) {
  @if map_has-key($part-colors, $name) {
    @return map-get($part-colors, $name);
  }

  @error "Color '#{$name}' is undefined"
}
