$colors: (
        white: #ffffff,
        black: #252525,
        primary: #0cb750,
        secondary: #e42365,
);

@function get-color($name) {
  @if map_has-key($colors, $name) {
    @return map-get($colors, $name);
  }

  @error "Color '#{$name}' is undefined"
}
