$sizes: (
        spacing-normal: 15px,
        spacing-large: 50px,
        border-radius: 3px,
);

@function get-size($name) {
  @if map-has-key($sizes, $name) {
    @return map-get($sizes, $name);
  }

  @error "Size '#{$name}' is undefined"
}

