$sizes: (
        spacing-5: 5px,
        spacing-10: 10px,
        spacing-15: 15px,
        spacing-20: 20px,
        spacing-30: 30px,
        spacing-50: 50px,
        border-radius-2: 2px,
        border-radius-3: 3px,
);

@function get-size($name) {
  @if map-has-key($sizes, $name) {
    @return map-get($sizes, $name);
  }

  @error "Size '#{$name}' is undefined"
}

