@import "~@/scss/variables";

.kbd {
  width: 18px;
  height: 18px;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: get-size(border-radius-3);

  &__icon {
    width: 14px;
    height: 14px;
    fill: get-part-color(black);
  }
}
